<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <!-- <div class="field">
    <label for="">Username</label>
    <input type="text" formControlName="username" />
  </div> -->
  <!-- Soit ca -->
  <!-- <app-input label="Username" [controlForm]="authForm.get('username') | formControl"></app-input> -->
  <app-input
    label="Username"
    [control]="$any(authForm.get('username'))"
  ></app-input>
  {{ authForm.get("username")!.errors | json }}

  <div class="field">
    <label for="">Password</label>
    <input type="text" formControlName="password" />
  </div>
  {{ authForm.get("password")!.errors | json }}

  <div class="field">
    <label for="">Confirm Password</label>
    <input type="text" formControlName="passwordConfirmation" />
  </div>
  <!-- {{ authForm.get("passwordConfirmation")!.errors | json }} -->

  <button class="ui submit button primary">Submit</button>
  {{ authForm.errors | json }}
</form>
