<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="$any(authForm.get('username')) | formControl"
  ></app-input>

  <app-input
    inputType="password"
    label="Password"
    [control]="$any(authForm.get('password')) | formControl"
  ></app-input>

  <app-input
    inputType="password"
    label="Confirm password"
    [control]="$any(authForm.get('passwordConfirmation')) | formControl"
  ></app-input>

  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm?.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors?.['passwordsDonMatch']">Passwords dont match !</p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
